<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      {{>admin_sidebar}}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        {{>admin_header}}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
             <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Products</h4>
                   
                    <form class="forms-sample" action="add_product" method="post" enctype="multipart/form-data">
                     
                    <div class="form-group">
                        <label for="exampleInputUsername1">Category</label>
                        <select name="" id="" class="form-control" name="catid" >

                                {{#each catdata}}
                                <option value="{{this._id}}">{{this.catname}}</option>
                                {{/each}}

                        </select>
                       
                      </div>

                      <div class="form-group">
                        <label for="exampleInputUsername1">Product name</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="product name" name="pname" >
                      </div>

                       <div class="form-group">
                        <label for="exampleInputUsername1">Price</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="product price" name="price" >
                      </div>
                      
                       <div class="form-group">
                        <label for="exampleInputUsername1">Qty</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" placeholder="product qty" name="qty" >
                      </div>
                      
                       <div class="form-group">
                        <label for="exampleInputUsername1">Product Image</label>
                        <input type="file" class="form-control" id="exampleInputUsername1" placeholder="product category" name="img" >
                      </div>
                      
                      
                     
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      
                    </form>
                  </div>
                </div>
              </div>
            
         
            
            </div>
            <div class="row ">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Product List</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                           
                            <th> Category Name </th>
                             <th> Product Name </th>
                              <th> Price </th>
                               <th> Qty </th>
                               <th>Image</th>
                            <th colspan="2"> Action</th>
                           
                          </tr>
                        </thead>
                        <tbody>
                            {{#each pdata}}
                            <tr>
                                <td>{{this.catid}}</td>
                                <td>{{this.pname}}</td>
                                <td>{{this.price}}</td>
                                <td>{{this.qty}}</td>
                                <td><img src="productimg/{{this.img}}" alt=""></td>
                                <td><a href="deletecategory?cid={{this._id}}"class="btn btn-danger">Delete</a></td>
                                <td><a href="editcategory?cid={{this._id}}"class="btn btn-primary">Edit</a></td>
                            </tr>
                            {{/each}}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="assets/vendors/chart.js/Chart.min.js"></script>
    <script src="assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/misc.js"></script>
    <script src="assets/js/settings.js"></script>
    <script src="assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>